P1RV CLONE/Library/
P1RV_CLONE/Library/
P1RV_CLONE/Temp/UnityLockfile
P1RV_CLONE/Temp/
P1RV_CLONE/Assets/Plugins/LeapCSharp.NET3.5.dll
P1RV_CLONE/Assets/Plugins/x86/LeapC.dll
P1RV_CLONE/Assets/Plugins/x86/LeapInteractionEngine.dll
P1RV_CLONE/Assets/Plugins/x86_64/LeapC.dll
P1RV_CLONE/Assets/Plugins/x86_64/LeapInteractionEngine.dll
P1RV_CLONE/Assets/prefabs/pyramid.obj
P1RV_CLONE/obj/Debug/Assembly-CSharp.csprojResolveAssemblyReference.cache
P1RV_CLONE/Build/Archiverse_Data/output_log.txt
P1RV_CLONE/Build/TestCollaboratif_Data/output_log.txt
P1RV_CLONE/Build/Archiverse.exe
P1RV_CLONE/Build/
